<div class="standby">
    <ion-nav-view></ion-nav-view>

    <div class="bar bar-footer">
        <div class="row">
            <div class="col col-offset-20 text-left" ng-show="footerButtons.back">
                <button class="button button-clear pull-left" ng-click="goToNotifications()">
                    <span class="icon ion-android-arrow-back"></span>
                </button>
            </div>
            <div class="col text-left" ng-show="footerButtons.dialer">
                <button class="button button-clear pull-left">
                    <span class="icon ion-android-call"></span>
                </button>
            </div>
            <div class="col text-center" ng-show="footerButtons.lock">
                <button class="button button-clear text-center" ng-click="goToScreenLock()">
                    <span class="icon ion-android-lock"></span>
                </button>
            </div>
            <div class="col text-right" ng-show="footerButtons.camera">
                <button class="button button-clear pull-right">
                    <span class="icon ion-android-camera"></span>
                </button>
            </div>
        </div>
    </div>
</div>