<div ng-controller="ScreenLockCtrl" class="screenlock">
    <div class="combination-wrap">
        <div class="row">
            <div class="col-80 col-offset-10">
                <div class="combination">
                    <div class="lock-result text-center">{{result}}</div>

                    <div class="row">
                        <div class="col"><div class="point" data-point="1"><span></span></div></div>
                        <div class="col"><div class="point" data-point="2"><span></span></div></div>
                        <div class="col"><div class="point" data-point="3"><span></span></div></div>
                    </div>

                    <div class="row">
                        <div class="col"><div class="point" data-point="4"><span></span></div></div>
                        <div class="col"><div class="point" data-point="5"><span></span></div></div>
                        <div class="col"><div class="point" data-point="6"><span></span></div></div>
                    </div>

                    <div class="row">
                        <div class="col"><div class="point" data-point="7"><span></span></div></div>
                        <div class="col"><div class="point" data-point="8"><span></span></div></div>
                        <div class="col"><div class="point" data-point="9"><span></span></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="emergency text-center">Emergency Call</div>
</div>